
body{margin:0;font-family:Arial;background:#0b0f19;color:white;text-align:center}
header{padding:40px}
.btn{background:#00ffcc;padding:12px 25px;color:black;text-decoration:none;border-radius:8px}
section{padding:30px}
iframe{border:none;border-radius:12px}
footer{padding:20px;color:#777}
button{padding:8px 15px;border-radius:6px;border:none}
